<div class="container">
    <div class="row justify-content-center">
        <img src="/images/burger-1487481_1280.png" alt="burger mascot image">
    </div>
    <div class="row justify-content-center">
        <span class="title">Eat-Da-Burger!</span>
    </div>
    <div class="row justify-content-center">
        <input id="burger-name" size="30" placeholder="Enter a burger you want to eat">
    </div>
    <div class="row justify-content-center">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>